.toast {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 9999;
    height: 6.5rem;
    min-width: 45rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: slideInDown 0.5s ease-out forwards;
}


.toast.closing {
    animation: fadeOutUp 0.5s ease-in forwards;
}


.toast-success {
    background-color: #4caf50;
}

.toast-error {
    background-color: #f44336;
}

.toast-info {
    background-color: #2196f3;
}

.toast-warning {
    background-color: #ff9800;
}

.toast-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
}

.toastMsj {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    width: auto;
}

@media screen and (max-width: 720px) {
    .toast {
        width: 100%;
        min-width: unset;
        left: 0;
        right: 0;
        justify-content: center;
        padding: 0 1rem;
    }

    .toastMsj {
        font-size: 1.5rem;
        width: auto;
        margin: 0 auto;
    }



}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        /* Empieza fuera de la pantalla, arriba */
        opacity: 0;
        /* Completamente transparente */
    }

    to {
        transform: translateY(0);
        /* Termina en su posición final */
        opacity: 1;
        /* Completamente visible */
    }
}

@keyframes fadeOutUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}