nav {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    border-bottom: 1px solid var(--white-color);
    padding: 2rem;
}

.nameImg {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem auto;
    width: 75vw;
    gap: 6rem;
}

header{
    background-color: #282B30;
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 30rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
    max-width: 100%;
}

.description {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    text-wrap: wrap;
}

.saludo{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
}

section {
    display: flex;
    flex-direction: column;
}


.skills h4 {
    align-self: flex-start;
}

.skills h3 {
    align-self: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 20rem));
    grid-auto-rows: 15rem;
    gap: 2rem;
    background-color: var(--fondo-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards p {
    font-weight: bold;
}

.card{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;

    
}

.card img {
    object-fit: contain;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card img:hover {
    background-color: var(--white-color);
    transform: scale(1.08);
    border-radius: 1rem;
}

