nav {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    border-bottom: 1px solid var(--white-color);
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.nameImg {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.navLinks a {
    text-decoration: none;
    color: inherit;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 0 auto;
    width: 75vw;
    gap: 6rem;
}

header {
    background-color: #282B30;
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
}

section,
header {
    scroll-margin-top: 10rem;
    /* min-width: 70rem; */
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;

}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 30rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 1rem;
}

.description {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    text-wrap: wrap;
}

.saludo {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
}

section {
    display: flex;
    flex-direction: column;
}


.skills h4,
.proyects h4 {
    align-self: flex-start;
}

.skills h3,
.proyects h3 {
    align-self: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 20rem));
    grid-auto-rows: 15rem;
    gap: 2rem;
    background-color: var(--fondo-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards p {
    font-weight: bold;
}

.card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;


}

.card img {
    object-fit: contain;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card img:hover {
    background-color: var(--white-color);
    transform: scale(1.15);
    border-radius: 1.2rem;
    box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.3);
}

.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 90%;
    margin-top: 3rem;
}

.containerDetalleProducto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: var(--fondo-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;
    position: relative;
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.descripcion-texto {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: space-around;
}


.descripcion h4 {
    margin: 0;
    align-self: flex-start;
}

.descripcion p {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
}

.descripcion button {
    align-self: flex-end;
}

.data {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    /* gap: 1rem; */
}

.imagen1 {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
}

.fade-out {
    opacity: 0;
}

.controlers {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anterior,
.siguiente {
    background-color: #5187df;
    color: black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    width: 12rem;
    height: 5rem;
    border-radius: 2rem;

}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 3rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
}

.campo,
.subject {
    width: 40rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--fondo-color);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1.8rem;
}

.campo::placeholder,
.subject::placeholder {
    font-size: 1.8rem;
}

.subject {
    height: 20rem;
}

.verMas,
.btn {
    background-color: rgb(137, 209, 28);
    color: var(--fondo-color);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6rem;
    width: 12rem;
    color: var(--fondo-color);
    height: 4rem;
}

.verMas {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

}

.btn {
    position: absolute;
    bottom: -5rem;
    right: 0;
}

.contactDownlad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    width: 100%;
    margin: 5rem auto;
}

.download {
    width: auto;
    background-color: #5187df;
    color: var(--fondo-color);
    padding: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;

}

.download a {
    text-decoration: none;
    color: black;
}

.download p {
    font-weight: bold;
    font-size: 1.8rem;
    color: black;
}

.download-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {

    .home {
        width: 100vw;
        margin: 8rem auto 0 auto;
        padding: 0;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }

    .containerDetalleProducto {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .descripcion {
        justify-content: center;
        height: auto;
    }

    .verMas {
        margin-bottom: 0;
    }

    .descripcion-texto {
        max-height: 35rem;
    }


    .formulario {
        width: 100%;
        padding: 2rem;
    }

    .campo,
    .subject {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    /* .descripcion {
        height: 30rem;
    } */

}